pipeline/CopyFilesfromMultipleContainers.json
{
	"name": "CopyFilesfromMultipleContainers",
	"properties": {
		"description": "Scan the file path on your source storage store and get the container list.",
		"activities": [
			{
				"name": "EnumerateContainersList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BinarySourceFileStore",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.SourceFileContainer",
								"type": "Expression"
							},
							"directory": {
								"value": "@pipeline().parameters.SourceFileDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachContainer",
				"description": "Get the container list from Metadata activity and then iterates each of them to Copy activity.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EnumerateContainersList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('EnumerateContainersList').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyOneContainer",
							"description": "Copy each container from source storage store to destination store.",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"fileListPath": {
											"value": "@activity('EnumerateContainersList').output.childItems",
											"type": "Expression"
										},
										"deleteFilesAfterCompletion": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BinarySourceFileStore",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.SourceFileContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.SourceFileDirectory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BinarySinkFileStore",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.DestinationFileContainer",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.DestinationFileDirectory",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceFileContainer": {
				"type": "string",
				"defaultValue": "/damian"
			},
			"SourceFileDirectory": {
				"type": "string",
				"defaultValue": "/input"
			},
			"DestinationFileContainer": {
				"type": "string",
				"defaultValue": "/damian"
			},
			"DestinationFileDirectory": {
				"type": "string",
				"defaultValue": "/output"
			}
		},
		"annotations": []
	}
}